section.section-box.overflow-visible.mt-50.mb-50
  .container
    .row
      .col-xl-3.col-lg-3.col-md-6.col-sm-6.col-12
        .text-center
          h1.color-brand-2 2K+
          h5 Completed Cases
          p.font-sm.color-text-paragraph.mt-10
            | We always provide people a 
            br.d-none.d-lg-block
            | complete solution upon focused of
            br.d-none.d-lg-block
            |  any business
      .col-xl-3.col-lg-3.col-md-6.col-sm-6.col-12
        .text-center
          h1.color-brand-2 17+
          h5 Our Office
          p.font-sm.color-text-paragraph.mt-10
            | We always provide people a 
            br.d-none.d-lg-block
            | complete solution upon focused of 
            br.d-none.d-lg-block
            | any business
      .col-xl-3.col-lg-3.col-md-6.col-sm-6.col-12
        .text-center
          h1.color-brand-2 86
          h5 Skilled People
          p.font-sm.color-text-paragraph.mt-10
            | We always provide people a 
            br.d-none.d-lg-block
            | complete solution upon focused of 
            br.d-none.d-lg-block
            | any business
      .col-xl-3.col-lg-3.col-md-6.col-sm-6.col-12
        .text-center
          h1.color-brand-2 28+
          h5 CHappy Clients
          p.font-sm.color-text-paragraph.mt-10
            | We always provide people a 
            br.d-none.d-lg-block
            | complete solution upon focused of 
            br.d-none.d-lg-block
            | any business
