nav.nav-main-menu
    ul.main-menu
        li
            a.active(href='index.html') Home
        li.has-children
            a(href='jobs-grid.html') Find a Job
            ul.sub-menu
                li
                    a(href='jobs-grid.html') Jobs Grid
                li
                     a(href='jobs-list.html') Jobs List
                li
                     a(href='job-details.html') Jobs Details                
        li.has-children
            a(href='companies-grid.html') Recruiters
            ul.sub-menu
                li
                    a(href='companies-grid.html') Recruiters
                li
                    a(href='company-details.html') Company Details
        li.has-children
            a(href='candidates-grid.html') Candidates
            ul.sub-menu
                li
                    a(href='candidates-grid.html') Candidates Grid
                li
                    a(href='candidate-details.html') Candidate Details
        li.has-children
            a(href='blog-grid.html') Pages
            ul.sub-menu
                li
                    a(href='page-about.html') About Us
                li
                    a(href='page-pricing.html') Pricing Plan
                li
                    a(href='page-contact.html') Contact Us
                li
                    a(href='blog-single.html') Blog single
        li
            a(href='page-contact.html') Contact