.mobile-header-active.mobile-header-wrapper-style.perfect-scrollbar
    .mobile-header-wrapper-inner
        .mobile-header-top
            .user-account
                img(src='assets/imgs/avatar/ava_1.png', alt='jobBox')
                .content
                    h6.user-name
                        | Howdy, 
                        span.text-brand AliThemes
                    p.font-xs.text-muted You have 2 new messages
        .mobile-header-content-area
            .perfect-scroll
                .mobile-search.mobile-header-border.mb-30
                    form(action='#')
                        input(type='text', placeholder='Search for items…')
                        i.fi-rr-search
                .mobile-menu-wrap.mobile-header-border
                    // mobile menu start
                    nav
                        ul.mobile-menu.font-heading
                            li.has-children
                                a.active(href='index.html') Home
                            li.has-children
                                a(href='jobs-grid.html') Find a Jobs
                            li.has-children
                                a(href='companies-grid.html') Company
                            li.has-children
                                a(href='candidates-grid.html') Employee
                            li.has-children
                                a(href='blog-grid.html') Pages
                                ul.sub-menu
                                    li
                                        a(href='page-about.html') About Us
                                    li
                                        a(href='page-pricing.html') Pricing Plan
                                    li
                                        a(href='page-contact.html') Contact Us
                                    li
                                        a(href='blog-single.html') Blog single
                            li
                                a(href='page-contact.html') Contact
                    // mobile menu end
                .mobile-account
                    h6.mb-10 Your Account
                    ul.mobile-menu.font-heading
                        li
                            a(href='#') Profile
                        li
                            a(href='#') Work Preferences
                        li
                            a(href='#') My Boosted Shots
                        li
                            a(href='#') My Collections
                        li
                            a(href='#') Account Settings
                        li
                            a(href='#') Go Pro
                        li
                            a(href='#') Sign Out
                .mobile-social-icon.mb-50
                    h6.mb-25 Follow Us
                    a(href='#')
                        img(src='assets/imgs/theme/icons/icon-facebook.svg', alt='jobBox')
                    a(href='#')
                        img(src='assets/imgs/theme/icons/icon-twitter.svg', alt='jobBox')
                    a(href='#')
                        img(src='assets/imgs/theme/icons/icon-instagram.svg', alt='jobBox')
                    a(href='#')
                        img(src='assets/imgs/theme/icons/icon-pinterest.svg', alt='jobBox')
                    a(href='#')
                        img(src='assets/imgs/theme/icons/icon-youtube.svg', alt='jobBox')
                .site-copyright
                    | Copyright 2022 &copy; JobHub. 
                    br
                    | Designed by AliThemes.
